{% extends 'base.html.twig' %}
{% block title %}Potente | Profile{% endblock title %}
    {% block body %}
        <style>
            [for="image_upload_image"] {
                display: none;
            }
        </style>
        <div class="container bootstrap snippet">
            <div class="row">
                <div class="col-sm-10"><h1>{{ username }}</h1></div>
            </div>
            <div class="row">
                <div class="col-sm-3"><!--left col-->
                    <div class="text-center">
                        <img src="{{ url }}" class="avatar rounded-circle img-thumbnail uploadimage" alt="avatar" id="image_upload_file"
                        onclick="$('#image_upload_image').click();">
                    </div>
                    <hr>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading">{% trans into 'ar' %} About {% endtrans %}<i class="fa fa-link fa-1x"></i></div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item text-muted">{% trans into 'ar' %} Activity {% endtrans %}<i class="fa fa-dashboard fa-1x"></i></li>
                        <li class="list-group-item text-left"><span class="pull-left"><strong style="float: right">{% trans into 'ar' %} Shares {% endtrans %}</strong></span> 125
                        </li>
                        <li class="list-group-item text-left"><span class="pull-left"><strong style="float: right">{% trans into 'ar' %} Likes {% endtrans %}</strong></span> 13
                        </li>
                        <li class="list-group-item text-left"><span class="pull-left"><strong style="float: right">{% trans into 'ar' %} Posts {% endtrans %}</strong></span> 37
                        </li>
                        <li class="list-group-item text-left"><span class="pull-left"><strong style="float: right">{% trans into 'ar' %} Followers {% endtrans %}</strong></span>
                            78
                        </li>
                    </ul>
                    <div class="panel panel-default" >
                        <div class="panel-heading">{% trans into 'ar' %} Social Media {% endtrans %}</div>
                        <div class="panel-body">
                            <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i
                                    class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i
                                    class="fa fa-google-plus fa-2x"></i>
                        </div>
                    </div>

                </div><!--/col-3-->
                <div class="col-sm-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <div class="form-group">
                                <form class="form-validation needs-validation" method="post" action="/saveProfileFields" style="direction: rtl" novalidate>
                                    {#<input type="hidden" name="_token" value="v0i6COHvJFdArYZ3iGb-QX-cDmyKqcL3acWj8u9Kfu4">#}
                                    <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}" />
                                    <div class="form-group">
                                        <label for="lastname" style="float: right">{% trans into 'ar' %} Last Name {% endtrans %}</label>
                                        <input type="text" name="lastname" class="form-control" id="lastname"  value="{{ userlastname }}" required>
                                        <div class="invalid-feedback text-right">
                                            {% trans into 'ar' %} PleaseEnterTheLastname {% endtrans %}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="phone" style="float: right">{% trans into 'ar' %} Phone {% endtrans %}</label>
                                        <input type="text" class="form-control" name="phone" id="phone" value="{{ userphone }}" required>
                                        <div class="invalid-feedback text-right">
                                            {% trans into 'ar' %} PleaseEnterTheuserphone {% endtrans %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile" style="float: right">{% trans into 'ar' %} Mobile {% endtrans %}</label>
                                        <input type="text" class="form-control" name="mobile" id="mobile" value="{{ usermobile }}" required>
                                        <div class="invalid-feedback text-right">
                                            {% trans into 'ar' %} PleaseEnterTheusermobile {% endtrans %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="location" style="float: right">{% trans into 'ar' %} Location {% endtrans %}</label>
                                        <input type="text" class="form-control" name="location" id="location" value="{{ userlocation }}" required>
                                        <div class="invalid-feedback text-right">
                                            {% trans into 'ar' %} PleaseEnterTheuserlocation {% endtrans %}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary" style="float: right">{% trans into 'ar' %} Save {% endtrans %}</button>
                                </form>
                            </div>
                            <!--image form-->
                            <div class="form-group">
                            <form name="image_upload" method="post" enctype="multipart/form-data" id="imageUpladForm">
                                <div id="image_upload">
                                    <div>
                                        <label for="image_upload_image" class="required">Image</label>
                                        <input type="file" id="image_upload_image" name="image_upload[image]" required="required" class="mt-3 d-none" onchange="uploadImage()">
                                    </div>
                                    <div>
                                        <button type="submit" id="image_upload_submit" name="image_upload[submit]" class="d-none">save</button>
                                    </div><input type="hidden" id="image_upload__token" name="image_upload[_token]" value="HrgwTAaOxZiH6aT6giqPB7RoVVM-4vqA7PB-R9oKYpc"></div>
                            </form>
                            </div>
                        </div><!--/col-9-->
                    </div><!--/row-->
                </div>
            </div>
        </div>

    {% endblock %}
{% block javascripts %}
    <script src="/js/main.js"></script>
    <script>

// Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>
{% endblock %}