{% extends 'base.html.twig' %}

{% block title %}Potente | Register{% endblock title %}
    {% block body %}

        <div style="{{ app.request.locale =="ar" ? "direction: rtl;text-align: right;" : "" }}">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <hr>
            {{ getsum }}
        </div>
    {% endblock %}


