<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">symfony</a>
        <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-nav">
            {% set route = app.request.attributes.get('_route') %}
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a href="/user/new" class="nav-link {{ route=='new_user'?'active':'' }}">add new user</a>
                    </li>
                    <li class="nav-item">
                        <a href="/image" class="nav-link {{ route=='image_upload'?'active':'' }}">add profile image</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link {{ route=='logout'?'active':'' }}">logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="/register" class="nav-link {{ route=='user_registration'?'active':'' }}">register</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link {{ route=='login'?'active':'' }}">login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


