{% extends 'base.html.twig' %}
{% block title %}Potente | Users{% endblock %}

{% block body %}
    {#{%  for user in users %}#}
    {#<h1>{{ user }}</h1>#}
    {#{%  endfor %}#}
    <table id="users" class="table table-striped">
        <thead>
        <tr>
            <th>{% trans into 'ar' %} User Name {% endtrans %}</th>
            <th>{% trans into 'ar' %} user email {% endtrans %}</th>
            <th>{% trans into 'ar' %} Action{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td><a href="/user/{{user.id}}" class="btn btn-dark">{% trans into 'ar' %} show {% endtrans %}</a>
                    <a href="/user/edit/{{user.id}}" class="btn btn-success">{% trans into 'ar' %} edit {% endtrans %}</a>
                    <a href="#" class="btn btn-danger article_delete" onclick="deleteUser(event)" data-id="{{user.id}}">{% trans into 'ar' %} delete {% endtrans %}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{%  endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}